{% extends "base.html" %}

{% block content %}
{% if invoicables %}
{% include "saas/_invoiceables.html" %}
{% else %}
<p>You have no balance due.</p>
{% endif %}
<section id="charge">
{% if not last_charge %}
A charge of {{lines_price|humanize_money}} will be created
on your card. Thank you.
{% else %}
{% with last_charge as charge %}
{% if charge.is_failed or charge.is_disputed %}
<p>
On {{charge.created_at}} we attempted to charge your card
</p>
<div>
    <dl>
        <dt>card</dt>
        <dd>{{charge.last4}}</dd>
    </dl>
    <dl>
        <dt>expires</dt>
        <dd>{{charge.exp_date}}</dd>
    </dl>
</div>
<p>
The charge
{% if charge.is_failed %}failed
{% else %}
{% if charge.is_disputed %}was disputed
{% endif %}
{% endif %}
(ref: {{charge.processor_key}}).
</p>
<p>
Please enter a valid credit card. A new charge of
{{lines_price|humanize_money}} will be created. Thank you.
</p>
{% endif %}
{% endwith %}
{% endif %}
</section>
{% if RAZORPAY_PUB_KEY %}
{% include "saas/_razorpay_checkout.html" %}
{% else %}
{% include "saas/_card_use.html" %}
{% endif %}
{% endblock %}
