{% extends "saas/base_dashboard.html" %}

{% block saas_content %}
<section>
    <h1>Update Card for {{ organization }}</h1>
    <form id="payment-form" method="post"
        action=".{% if next %}/?next={{next}}{% endif %}"
        v-on:submit.prevent="save">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
        {% include "saas/_card_use.html" %}
        <button type="submit" class="payment-submit">Save</button>
        <button @click.prevent="remove">Remove</button>
    </form>
</section>
{% endblock %}
