{% extends "saas/base.html" %}

{% block content %}
<h1>{% block order_title %}Place Order{% endblock %}</h1>
<div id="app">
  {% block order_head %}
  <div>
    <form method="post" id="redeem-form">
      <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
      <div>
        <label>
If you have a coupon code, it is time to redeem it now!
        </label>
        <div id="redeem-code">
          <div class="collapsible">
            <input name="code" type="text" placeholder="Coupon code">
            <button type="submit" class="submit-code">Redeem</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  {% endblock %}
  <div>
    <form id="payment-form" method="post" action=".{% if next %}/?next={{ next }}{% endif %}">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
        {% if invoicables %}
        {% include "saas/_invoiceables.html" %}
        {% else %}
        {% block no_invoicables %}
        Your subscription cart is empty.
        {% endblock %}
        {% endif %}
        {% block order_footer %}
        {% endblock order_footer %}
        {% block order_card %}
        {% if RAZORPAY_PUB_KEY %}
        {% include "saas/_razorpay_checkout.html" %}
        <div>
          <button type="submit" class="payment-submit">{% if submit_title %}{{submit_title}}{% else %}Submit{% endif %}</button>
        </div>
        {% elif STRIPE_PUB_KEY %}
        {% include "saas/_card_use.html" %}
            {% elif FLUTTERWAVE_PUB_KEY %}
<script src="https://checkout.flutterwave.com/v3.js"></script>
<div id="payment-failed">
  Uh-oh. Please try again, or contact support if you're encountering difficulties making payment.
</div>
<br>
<form>
  <div>
    Your order is ₦54,600
  </div>
  <button type="button" class="start-payment-button" onclick="makePayment()">Pay Now</button>
</form>
<div id="payment-success">
  Thank you! Enjoy your awesome cruise.🚢
</div>
<div id="payment-pending">
  Verifying...Setting up your cruise🚢
</div>
<script>
  function makePayment() {
    FlutterwaveCheckout({
      public_key: "{{ FLUTTERWAVE_PUB_KEY }}",
      tx_ref: "titanic-48981487343MDI0NzMx",
      amount: 54600,
      currency: "NGN",
      payment_options: "card, mobilemoneyghana, ussd",
      callback: function(payment) {
        // Send AJAX verification request to backend
        verifyTransactionOnBackend(payment.id);
      },
      onclose: function(incomplete) {
        if (incomplete || window.verified === false) {
          document.querySelector("#payment-failed").style.display = 'block';
        } else {
          document.querySelector("form").style.display = 'none';
          if (window.verified == true) {
            document.querySelector("#payment-success").style.display = 'block';
          } else {
            document.querySelector("#payment-pending").style.display = 'block';
          }
        }
      },
      meta: {
        consumer_id: 23,
        consumer_mac: "92a3-912ba-1192a",
      },
      customer: {
        email: "rose@unsinkableship.com",
        phone_number: "08102909304",
        name: "Rose DeWitt Bukater",
      },
      customizations: {
        title: "The Titanic Store",
        description: "Payment for an awesome cruise",
        logo: "https://www.logolynx.com/images/logolynx/22/2239ca38f5505fbfce7e55bbc0604386.jpeg",
      },
    });
  }

  function verifyTransactionOnBackend(transactionId) {
    // Let's just pretend the request was successful
    setTimeout(function() {
      window.verified = true;
    }, 200);
  }
</script>
        {% else %}
        <p>
Either variables RAZORPAY_PUB_KEY or STRIPE_PUB_KEY must be defined.
        </p>
        {% endif %}
        {% endblock %}
    </form>
  </div>
</div>
{% endblock %}

{% block saas_bodyscripts %}
<script type="text/javascript" charset="utf-8" src="/static/js/djaodjin-stripe.js"></script>
<script type="text/javascript">
jQuery(document).ready(function($) {
    var cardForm = $("#payment-form");
{% if urls and urls.api_cart %}
    if( cardForm.length > 0 ) {
        cardForm.find("#invoicables").invoice(
            {currency_unit: "{% if lines_price %}{{ lines_price.unit }}{% endif %}",
             saas_api_cart: "{{ urls.api_cart }}" });
    }
{% endif %}
{% if STRIPE_PUB_KEY %}
    cardForm.card({
        stripePubKey: "{{ STRIPE_PUB_KEY }}",
        stripeIntentSecret: {% if STRIPE_INTENT_SECRET %}"{{ STRIPE_INTENT_SECRET }}"{% else %}null{% endif %},
        stripeAccount: {% if STRIPE_ACCOUNT %}"{{ STRIPE_ACCOUNT }}"{% else %}null{% endif %},
        saas_api_card: "{{ urls.organization.api_card }}"
    });
{% endif %}
});
</script>
{% endblock %}
