{% extends "saas/base_dashboard.html" %}

{% block saas_content %}
<active-carts inline-template>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Items in Cart</th>
                    <th>Total cart value</th>
                    <th>Last cart activity</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(userData, username) in users" :key="username">
                    <td>[[ userData.username ]]</td>
                    <td>[[ userData.email ]]</td>
                    <td>[[ userData.totalItems ]]</td>
                    <td>[[ userData.totalAmount ]]</td>
                    <td>[[ userData.latestUpdate ]]</td>
                    <td><a :href="userData.username">View Details</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</active-carts>
{% endblock %}
