{% extends "saas/base_dashboard.html" %}

{% block saas_content %}
<div ng-app="saasApp">
    <h1>Coupons</h1>
    <div ng-controller="CouponListCtrl">
        <a id="download" href="{{urls.provider.download_coupons}}?q=[[filterExpr]]" role="button">CSV Download</a>
    <h1 ng-hide="coupons.$resolved">Please wait...</h1>
    <h2 ng-show="coupons.$resolved && coupons.results.length == 0">No Coupons yet</h2>
        <table ng-show="coupons.$resolved && coupons.results.length > 0">
            <thead>
                <tr>
                    <th>Code<button ng-click="sortBy('code')">[[dir.code ? dir.code : 'sort']]</button></th>
                    <th>Percent<button ng-click="sortBy('percent')">[[dir.percent ? dir.percent : 'sort']]</button></th>
                    <th>Expires At<button ng-click="sortBy('ends_at')">[[dir.ends_at ? dir.ends_at : 'sort']]</button></th>
                    <th>Description<button ng-click="sortBy('description')">[[dir.description ? dir.description : 'sort']]</button></th>
                    <th>Created At<button ng-click="sortBy('created_at')">[[dir.created_at ? dir.created_at : 'sort']]</button></th>
                    <th></th>
                </tr>
            </thead>
            <tr>
                <form>
                    <td>
                        <input type="text" ng-model="newCoupon.code" placeholder="Code">
                    </td>
                    <td>
                        <input type="text" ng-model="newCoupon.percent" placeholder="Percent">
                    </td>
                    <td>
                        <button ng-click="save()">Create Coupon</button>
                    </td>
                </form>
            </tr>
            <tr ng-repeat="coupon in coupons.results" ng-cloak>
            <td><a id="[[coupon.code]]" href="{{urls.provider.metrics_coupons}}[[coupon.code]]/">[[coupon.code]]</a></td>
                <td>[[coupon.percent]]</td>
                <td>[[coupon.ends_at ? (coupon.ends_at | date : mediumDate) : "Never"]]</td>
                <td>[[coupon.description]]</td>
                <td>[[coupon.created_at | date : mediumDate]]</td>
                <td><button ng-click="remove($index)">Remove</button></td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}
