{% extends "saas/base_dashboard.html" %}

{% block saas_title %}Add offline transaction{% endblock %}

{% block saas_content %}
<section ng-app="saasApp" ng-cloak>
<div ng-controller="importTransactionsCtrl">
<form action="." method="post">
  <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
  <fieldset>
        <div class="{% if form.subscription.errors %} has-error{% endif %}">
            <label for="subscription">
                Subscription
            </label>
            <div>
                <input id="subscription" name="subscription"
                       placeholder="Subscriber name or email" type="text"
                       autocomplete="off"
                       ng-model="subscription">
            </div>
        </div>
        <div class="{% if form.amount.errors %} has-error{% endif %}">
            <label for="amount">
                Amount
            </label>
            <div>
                <input name="amount" type="number" min="0" step="any" placeholder="amount">
            </div>
        </div>
        <div class="{% if form.descr.errors %} has-error{% endif %}">
            <label for="descr">
                Description
            </label>
            <div>
                <input name="descr" type="text" placeholder="description">
            </div>
        </div>
    </fieldset>
    <div>
        <button type="submit">Add Off-line Payment</button>
    </div>
</form>
</div>
</section>
{% endblock %}
