{% extends "saas/base_dashboard.html" %}

{% block saas_content %}
<div ng-app="saasApp">
  <section id="balance" ng-controller="statementBalanceCtrl">
    <h1>Balance</h1>
    <h2 ng-hide="balance.$resolved">Please wait...</h2>
    <div ng-show="balance.$resolved">
      <dl ng-show="balance.amount >= 0">
        <dt>[[balance.amount|humanizeCell : balance.unit : 0.01]]</dt>
        <dd ng-show="balance.amount >= 0">
          {% spaceless %}
          Balance due
          <span ng-if="balance.amount > 0">
            (<a href="{{ urls.organization.balance }}">pay now</a>
            <span ng-if="showCancelBalanceButton">
              - <a href="" ng-click="cancelBalance()">cancel balance due</a>
            </span>)
          </span>
          {% endspaceless %}
        </dd>
        <dd ng-show="balance.amount < 0">Balance Credits</dd>
      </dl>
    </div>
  </section>
  <section id="info">
    <h1>Credit Card</h1>
    <a href="{{urls.organization.update_card}}">Update</a>
    <dl>
      <dt>card</dt>
      <dd id="last4">{% if last4 %}{{last4}}{% else %}N/A{% endif %}</dd>
    </dl>
    <dl>
      <dt>expires</dt>
      <dd id="exp_date">{% if exp_date %}{{exp_date}}{% else %}N/A{% endif %}</dd>
    </dl>
  </section>
  {% include "saas/_transactions.html" %}
</div>
{% endblock %}
