{% extends "saas/base_dashboard.html" %}

{% block saas_content %}
<div ng-app="saasApp">
  <div ng-controller="transactionListCtrl">
    <section id="balance">
      <h1>Balance</h1>
      <dl>
        {% if balance_price.amount >= 0 %}
        <dt>{{balance_price|humanize_money}}</dt>
        <dd>Balance due {% if balance_price.amount > 0 %}(<a href="{{ urls.organization.balance }}">pay now</a>){% endif %}</dd>
        {% else %}
        <dt>{{balance_price|humanize_money}}</dt>
        <dd>Balance Credits</dd>
        {% endif %}
      </dl>
    </section>
    <section id="info">
      <h1>Credit Card</h1>
      <a href="{{urls.organization.update_card}}">Update</a>
      <dl>
        <dt>card</dt>
        <dd id="last4">{% if last4 %}{{last4}}{% else %}N/A{% endif %}</dd>
      </dl>
      <dl>
        <dt>expires</dt>
        <dd id="exp_date">{% if exp_date %}{{exp_date}}{% else %}N/A{% endif %}</dd>
      </dl>
    </section>
    {% include "saas/_transactions.html" %}
  </div>
</div>
{% endblock %}
