{% extends "saas/base_dashboard.html" %}

{% block saas_content %}
<style>
.hidden{
display:none;
}
</style>
<div id="{{charge}}">
  <h1>Charge Receipt</h1>
  <div>
    <a id="email-charge-receipt" href="">Email Again</a>
    <a id="charge-printable" target="_blank"
   href="{% if urls.charge.printable_receipt %}{{urls.charge.printable_receipt}}{% endif %}">Printable</a>
  </div>
  <section id="status">
      <p>
        On {{charge.created_at}}, we attempted to charge your card for
        the amount of {{charge.price|humanize_money}}.
      </p>
      <p class="charge-status"
         data-charge-done="The charge succeeded."
         data-charge-failed="The charge failed."
         data-charge-disputed="The charge was disputed."
         data-charge-created="The charge is in progress...">
        {% if charge.is_paid %}
        The charge succeeded.
        {% elif charge.is_failed %}
        The charge failed.
        {% elif charge.is_disputed %}
        The charge was disputed.
        {% elif charge.is_progress %}
        The charge is in progress... <i class="fa fa-spin"></i>
        {% endif %}
      </p>
  </section>
  <section id="info">
    <dl>
      <dt>REFERENCE</dt>
      <dd>#{{ charge.processor_key }}</dd>
    </dl>
    <dl>
      <dt>amount</dt>
      <dd id="amount-info">{{charge.price|humanize_money}}</dd>
    </dl>
    <dl>
      <dt>card</dt>
      <dd>**** - {{charge.last4}}</dd>
    </dl>
    <dl>
      <dt>expires</dt>
      <dd>{{charge.exp_date}}</dd>
    </dl>
  </section>
  <section id="invoiced_items">
    <table>
      <thead>
        <tr>
          <th>Amount</th>
          <th>Description</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for line in charge_items %}
        <tr>
          <td>{{line.invoiced.dest_price|humanize_money}}</td>
          <td>{{line.invoiced|describe}}</td>
          <td>
            {% if line.refundable %}
            <button class="charge-refund btn btn-default"
                    data-toggle="modal" data-target="#charge-refund"
                    data-available-amount="{{line.invoiced.dest_amount}}"
                    data-linenum="{{line.rank}}">Refund</button>
            {% endif %}
          </td>
        </tr>
        {% for refund in line.refunded %}
        <tr>
          <td>-{{refund.orig_price|humanize_money}}</td>
          <td>{{refund|describe}}</td>
          <td>
          </td>
        </tr>
        {% endfor %}
        {% endfor %}
      </tbody>
    </table>
  </section>
</div>
  {% if next_url %}
  <div>
    <a href="{{next_url}}">Next &gt;</a>
  </div>
  {% endif %}
</div>
<!-- modal dialog for Refunds -->
<div id="charge-refund">
  <h4>Refund</h4>
  <input class="form-control form-control" name="amount" maxlength="32"
         type="text" value="0" />
  <p>
Please specify the amount you would like refunded.
  </p>
  <button type="submit" class="submit-refund">OK</button>
</div>
<!-- end of modal dialog for Refunds -->
{% endblock %}
