{% extends "saas/base_dashboard.html" %}

{% block saas_content %}
<div ng-app="saasApp">
  <div ng-controller="transactionListCtrl">
    <section id="info">
      <h1>Deposit Information <a id="update_bank" href="{{urls.provider.bank}}">Update</a></h1>
      <div>
        <dl>
          <dt>Institution</dt>
          <dd>[[bank_name]]</dd>
        </dl>
        <dl>
          <dt>Account Number</dt>
          <dd>[[last4]]</dd>
        </dl>
      </div>
    </section>
    <section id="funds">
      <h1>Funds</h1>
      <dl>
        <dt id="balance-amount">[[balance_amount|humanizeCell : balance_unit : 0.01]]</dt>
        <dd>Available (<a href="{{urls.provider.withdraw_funds}}">withdraw</a>)</dd>
      </dl>
    </section>
    {% include "saas/_transactions.html" %}
    <section>
      <div>
        <a href="{{urls.provider.import_transactions}}">Add offline transaction</a>
      </div>
    </section>
  </div>
</div>
{% endblock %}
