{% extends "saas/base_dashboard.html" %}

{% block saas_content %}
<transfers-statement inline-template id="transfers-container" ng-app="saasApp">
  <div>
    <div ng-controller="billingSummaryCtrl"
       data-api-url="{{urls.provider.api_bank}}">
      <section id="info">
        <h1>Deposit Information <a id="update_bank" href="{{urls.provider.bank}}">Update</a></h1>
        <dl>
          <dt>Institution</dt>
          <dd>[[bank_name]]</dd>
        </dl>
        <dl>
          <dt>Account Number</dt>
          <dd>[[last4]]</dd>
        </dl>
      </section>
      <section id="funds">
        <h1>Funds</h1>
        <dl>
          <dt>Available</dt>
          <dd><span id="balance-amount">[[items.balance_amount]] [[items.balance_unit]]</span> (<a href="{{urls.provider.withdraw_funds}}">withdraw</a>)</dd>
        </dl>
      </section>
    </div>
    <div ng-controller="transactionListCtrl">
      {% include "saas/_transactions.html" %}
    </div>
    <div>
      {% if urls.raw_cartitems %}
      <a id="row-cartitems" href="{{urls.raw_cartitems}}">Cart items</a>
      {% endif %}
      {% if urls.raw_cartitems %}
      <a id="row-charges" href="{{urls.raw_charges}}">Charges</a>
      {% endif %}
      {% if urls.raw_transactions %}
      <a id="row-transactions" href="{{urls.raw_transactions}}">Transaction Ledger</a>
      {% endif %}
      <a id="add-offline-transaction" href="{{urls.provider.import_transactions}}">Add offline transaction</a>
    </div>
  </div>
</transfers-statement>
{% endblock %}
