{% extends "saas/base_dashboard.html" %}

{% block saas_content %}
<transfers-statement inline-template>
<div>
  {% include "saas/_filter.html" %}
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Amount</th>
        <th>Origin Profile</th>
        <th>Origin Account</th>
        <th>Destination Profile</th>
        <th>Destination Account</th>
        <th>Description</th>
      </tr>
      </thead>
    <tbody id="has-transactions"
           v-show="itemsLoaded && items.results.length > 0">
      <tr v-for="entry in items.results">
        <td>[[entry.created_at]]</td>
        <td>[[entry.amount]]</td>
        <td>[[entry.orig_profile.printable_name]]</td>
        <td>[[entry.orig_account]]</td>
        <td>[[entry.dest_profile.printable_name]]</td>
        <td>[[entry.dest_account]]</td>
        <td v-html="entry.description"></td>
      </tr>
    </tbody>
  </table>
</div>
</transfers-statement>
{% endblock %}
