{% extends "saas/base_dashboard.html" %}

{% block saas_content %}
<div id="balance-list-container">
    <div class="date-chooser">
      <a id="download" :href="'{{urls.download_balances}}?start_at=' + params.start_at + '&ends_at=' + params.ends_at" role="button">Download</a>
        <div>
            <uiv-dropdown class="form-group" append-to-body>
              <btn>date</btn>
              <template slot="dropdown">
                <li>
                  <uiv-date-picker
                    v-model="params.ends_at"
                    @input="get"
                    icon-control-left="fa fa-caret-left"
                    icon-control-right="fa fa-caret-right" />
                </li>
              </template>
            </uiv-dropdown>
        </div>
        <span>[[params.ends_at | formatDate('MMM D, Y') ]]</span>
    </div>
    <table>
        <thead>
            <tr>
                <th>Rank</th>
                <th>Delete</th>
                <th>Title</th>
                <td style="text-align:right;" v-for="col in values" v-cloak>
                    [[col[0] | monthHeading]]
                </td>
            </tr>
        </thead>
      <tbody v-show="!itemsLoaded">
        <tr>
          <td colspan="16">
            <h3 class="text-center"><i class="fa fa-refresh fa-spin fa-2x"></i></h3>
          </td>
        </tr>
      </tbody>
      <tbody v-show="itemsLoaded && items.table.length == 0">
        <tr>
          <td colspan="16">
            <h4 class="text-center"><em>No aggregated balances defined for this report. Add the first one with the form below.</em></h4>
          </td>
        </tr>
      </tbody>
        <tbody v-cloak v-show="itemsLoaded && items.table.length > 0">
            <tr v-for="(row, index) in items.table" v-cloak>
                <td></td>
                <td>
                    <button @click="remove(row.key)">
                        remove</button>
                </td>
                <td>[[row.key]]</td>
                <td style="text-align:right;" v-for="col in row.values">
                    <a target="_blank" :href="'{{urls.broker_transactions}}' + row.selector + '/?start_at=' + startPeriod + '&ends_at=' + col[0] ">
                    [[col[1]|humanizeCell(items.unit, items.scale)]]
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-sm-3">
            <input type="text" v-model="balanceLine.title" placeholder="Title">
        </div>
        <div class="col-sm-3">
            <input type="text" v-model="balanceLine.selector" placeholder="Selector">
        </div>
        <div class="col-sm-2">
            <button @click="create">Add Line</button>
        </div>
    </div>
</div>
{% endblock %}
