{% extends "saas/base_dashboard.html" %}

{% block saas_title %}
Provider Dashboard
{% endblock %}

{% block saas_content %}
<div ng-app="saasApp">
<div>
    <div ng-controller="searchListCtrl">
        <div>
            <input type="text" placeholder="Search..." ng-model="filterExpr" ng-change="filterList(filterExpr)" />
        </div>
        <table>
            <tbody id="has-registered" ng-cloak ng-show="items.$resolved && items.results.length > 0">
                <tr ng-repeat="entry in items.results">
                    <td><a href="{{request|url_profile_base}}[[entry.username]]/">[[entry.username]]</td>
                    <td>[[entry.first_name]] [[entry.last_name]]</td>
                    <td>[[entry.email]]</td>
                    <td>[[relativeDate(entry.created_at)]]</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div>
    <div>
        <div>
            <h4>Todos</h4>
        </div>
        <p>
No items to take care of Today.
        </p>
    </div>
    <div ng-controller="userListCtrl">
        <div>
            <h4>Recently registered</h4>
        </div>
        <table>
            <tbody ng-hide="items.$resolved">
                <tr>
                    <td colspan="2">
                        <h3>Loading ...</h3>
                    </td>
                </tr>
            </tbody>
            <tbody id="has-registered" ng-cloak ng-show="items.$resolved && items.results.length > 0">
                <tr ng-repeat="entry in items.results">
                    <td><a href="{{request|url_profile_base}}[[entry.slug]]/">[[entry.slug]]</td>
                    <td>[[relativeDate(entry.created_at)]]</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-controller="receivableListCtrl">
        <div>
            <h4>Today Sales<span ng-show="items.$resolved">: [[items.total|humanizeCell : items.unit : 0.01]]</span></h4>
        </div>
        <table>
            <tbody ng-hide="items.$resolved">
                <tr>
                    <td colspan="2">
                        <h3>Loading ...</h3>
                    </td>
                </tr>
            </tbody>
            <tbody id="has-items" ng-cloak ng-show="items.$resolved && items.results.length > 0">
                <tr ng-repeat="entry in items.results">
                    <td><a href="{{urls.organization.profile_base}}[[entry.dest_organization]]/billing/">[[entry.amount]]</a></td>
                    <td>[[relativeDate(entry.created_at)]]</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
{% endblock %}
