{% extends "saas/metrics/base.html" %}

{% block saas_help_menus %}
{% if urls.provider and urls.provider.metrics_lifetimevalue %}
<a id="lifetimevalue" href="{{urls.provider.metrics_lifetimevalue}}">Lifetime value</a>
{% endif %}
{% if urls.provider and urls.provider.ledger_balances %}
<a id="balance-sheet" href="{{urls.provider.ledger_balances}}">Balance Sheet</a>
{% endif %}
{% if urls.provider and urls.provider.metrics_balances_due %}
<a id="balances-due" href="{{urls.provider.metrics_balances_due}}">Balances Due</a>
{% endif %}
{% endblock %}
