Django>=1.9
django-countries>=2.1.2
django-localflavor>=1.0
djangorestframework>=3.3.1
# We need Python Markdown for django.contrib.markup. markdown2 is not enough.
Markdown>=2.4
python-dateutil>=2.2
stripe>=2.35.1
razorpay>=0.2.0
