Django>=1.6
django-durationfield
djangorestframework>=2.0
# We need Python Markdown for django.contrib.markup. markdown2 is not enough.
Markdown
--extra-index-url https://code.stripe.com
stripe
# measuring engagement
django-app-metrics
python-dateutil

