Django>=1.6
django-durationfield>=0.5
djangorestframework>=2.3
# We need Python Markdown for django.contrib.markup. markdown2 is not enough.
Markdown>=2.4
stripe>=1.14.0
python-dateutil>=2.2
django-extra-views>=0.6.5
django-countries>=2.1.2
django-localflavor>=1.0
