{% extends "saas/base_dashboard.html" %}

{% block saas_title %}Roles{% endblock %}

{% block saas_content %}
<role-user-list inline-template id="user-relation-list-container"
    {# data-role-status="active" #}
    ng-app="saasApp">
  <div ng-controller="userRelationListCtrl">
    <h2>Users with role '{{role_descr.title}}' on {{organization.printable_name}}</h2>
    <table>
      <thead>
        <tr>
          <th>Username</th>
          <th>Email</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody ng-show="!items.$resolved" v-show="!itemsLoaded">
        <tr colspan="5">
          <td>Please wait...</td>
        </tr>
      </tbody>
      <tbody class="has-no-results"
        ng-show="items.$resolved && items.results.length == 0" ng-cloak
        v-show="itemsLoaded && items.results.length == 0" v-cloak>
        <tr colspan="4">
          <td>No users with role {{role_descr.title}} yet.</td>
        </tr>
      </tbody>
      <tbody ng-show="items.$resolved && items.results.length > 0" ng-cloak
        v-show="itemsLoaded && items.results.length > 0" v-cloak>
        <tr ng-prop-id="item.user.slug" ng-repeat="item in items.results"
            v-bind:id="item.user.slug" v-for="(item, index) in items.results">
          <td>[[item.user.slug]]</td>
          <td>[[item.user.email]]</td>
          <td>
            <button @click="sendInvite(item.user.slug)"
                v-if="item.grant_key">Re-send</button>
            <button @click="save(item.user)" v-if="item.accept_request_api_url">Grant</button>
          </td>
          <td><button class="remove" ng-click="remove($event, $index)"
                      @click="remove(index)">Remove</button></td>
        </tr>
      </tbody>
    </table>
    <!-- modal -->
    <hr />
    <div>
      <h2>Invite user to have a role '{{role_descr.title}}' on {{organization.printable_name}}</h2>
      <form id="add-user" ng-submit="save($event)"
           @submit.prevent="submit">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
        <input type="text" name="user" placeholder="Username or e-mail"
               ng-model="unregistered.slug" v-model="candidateId" />
        <div class="add-role-modal" v-show="profileRequestDone">
          <p>
If the user couldn't be found in the system, it is a great occasion to invite
them.
          </p>
          <div>
            <label>To</label>
            <input id="new-request-email"
                 type="text" max-length="150"
                 name="email" placeholder="invitee@example.com"
                 ng-model="unregistered.email"
                 v-model="unregistered.email "/>
          </div>
          <p>The following invite message will be sent along</p>
          <div>
            <textarea name="message" maxlength="255" type="text" rows="10">
Hello,

I am adding you as a {{role_descr.title}} to {{organization.printable_name}}.

Thank you,
- {{request.user.first_name}}
            </textarea>
          </div>
        </div>
        <button type="submit">Submit</button>
      </form>
    </div>
    {% if role_descr.slug == 'manager' %}
    <hr />
    <a href="{{urls.organization.role_list}}">Add a new type of role</a>
    {% endif %}
  </div>
</role-user-list>
{% endblock %}
