{% extends "base.html" %}

{% block content %}
<div>
<p>
Welcome to the testsite for djaodjin-saas!
</p>
<p>
This is the ugliest site you will either see. Only the bare minimal markup
necessary to validate the functionality of the project was used.
This way makes it a lot easier to understand what truly matters.
</p>
<p>
Next Sign-in to the admin site (login: donny, password: yoyo) or browse
to the Pricing page and follow the logic a user would go through to sign
up for the service.
</p>
<p>
To test adding managers and contributors, there is 'scott' (pk=3) in
the fixtures.
</p>
</div>
{% endblock %}
