<div>
    <input type="text" name="title" placeholder="Title" v-model="title">
</div>
<div>
    <input type="text" name="description" placeholder="Description" v-model="description">
</div>
<fieldset>
    <legend>Pricing</legend>
    <div>
        <input type="text" name="unit" placeholder="Unit" v-model="unit">
    </div>
    <div>
        <input type="text" name="setup_amount" placeholder="Setup Amount" v-model="setupAmount">
    </div>
    <div>
        <input type="text" name="period_amount" placeholder="Period Amount" v-model="periodAmount">
    </div>
    <div>
        <select v-model="interval" name="interval">
            <option value="">select interval</option>
            <option value="HOURLY">Hourly</option>
            <option value="DAILY">Daily</option>
            <option value="WEEKLY">Weekly</option>
            <option value="MONTHLY">Monthly</option>
            <option value="YEARLY">Yearly</option>
        </select>
    </div>
    <div>
        <input type="text" name="period_length" placeholder="Period length" v-model="periodLength">
    </div>
    <div>
        <input type="text" name="advance_discount" placeholder="Advance discount" v-model="advanceDiscount">
    </div>
</fieldset>
<!-- TODO what should we do here? there is no such fields in the API docs
<fieldset>
    <legend>Extra Options</legend>
    <div class="{ if form.renewal_type.errors }has-error{ endif }">
        <input type="text" name="{form.renewal_type.name}" value="{form.renewal_type.value}">
        { for error in form.renewal_type.errors }
        <span class="help-block"><strong>{error}</strong></span>
        { endfor }
    </div>
    <div class="{ if form.is_not_priced.errors }has-error{ endif }">
        <input type="text" name="{form.is_not_priced.name}" value="{form.is_not_priced.value}">
        { for error in form.is_not_priced.errors }
        <span class="help-block"><strong>{error}</strong></span>
        { endfor }
    </div>
</fieldset>-->
