{% extends "saas/base_dashboard.html" %}

{% block saas_content %}
<plan-update inline-template id="plan-container">
  <div>
    {% if form.instance and form.instance.slug %}
    <div data-plan="{{form.instance.slug}}">
        <button id="activate-plan"
            value="{% if form.instance.is_active %}1{% else %}0{% endif %}"
            @click="togglePlanStatus"
            v-bind:class="{activated: isActive}"
            v-text="isActive ? 'Deactivate' : 'Activate'"></button>
    </div>
    {% endif %}
    <form method="post" action=".{% if next %}/?next={{ next }}{% endif %}"
          @submit.prevent="updatePlan">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
        <div class="form-group{% if form.title.errors %} has-error{% endif %}">{# testing .has-error decoration #}
            {{form.title}}
            <div class="help-block invalid-feedback">{% for error in form.title.errors %}{{error}}{% endfor %}</div>
        </div>
        {{form.description}}
        {{form.unit}}
        {{form.period_amount}}
        {{form.period_type}}
        {{form.period_length}}
        {{form.renewal_type}}
        {{form.advance_discount_type}}
        {{form.advance_discount_value}}
        {{form.advance_discount_length}}
        <button type="submit">{% if form.submit_title %}{{form.submit_title}}{% else %}Submit{% endif %}</button>
    </form>
    {% if show_delete %}
    <div id="confirm-delete" data-plan="{{form.instance.slug}}">
        <button id="delete-plan" class="delete" @click="deletePlan">Delete</button>
    </div>
    {% endif %}
  </div>
</plan-update>
{% endblock %}
