<div id="card-use">
  <div>
    <fieldset>
      <legend>
        Credit Card Information
        <a id="card-update" href=""
           v-show="haveCardData && !updateCard"
           {% if not last4 or force_update %}style="display:none;"{% endif %}>
          Update
        </a>
      </legend>
      <div id="card-data"
           v-show="haveCardData"
           {% if not last4 %}style="display:none;"{% endif %}>
        <dl>
          <dt>card</dt>
          <dd data-last4="{% if last4 %}{{last4}}{% endif %}" v-text="savedCard.last4">{% if last4 %}{{last4}}{% endif %}</dd>
        </dl>
        <dl>
            <dt>expires</dt>
            <dd data-exp-date="{% if exp_date %}{{exp_date}}{% endif %}" v-text="savedCard.exp_date">{% if exp_date %}{{exp_date}}{% endif %}</dd>
        </dl>
      </div>
      <div id="card-no-data"
           v-show="!haveCardData || updateCard"
           {% if last4 and not force_update %}style="display:none;"{% endif %}>
        <!-- BE CAREFULL: Do not add name="" to these <input> nodes, else
             values will hit the server and break PCI compliance. -->
        <div id="card-element">
          <div id="row-number">
            <label for="card-number">Card Number</label>
            <div>
              <input id="card-number"
                     type="text"
                     size="16"
                     autocomplete="off"
                     v-model="cardNumber" />
            </div>
          </div>
          <div>
            <div id="row-exp">
              <label>Expiration</label>
              <div>
                <input id="card-exp-month"
                       type="text" maxlength="2" size="2"
                       v-model="cardExpMonth" />
                <input id="card-exp-year"
                       type="text" maxlength="4" size="4"
                       v-model="cardExpYear" />
              </div>
            </div>
            <div id="row-cvc">
              <label>Security Code</label>
              <div>
                <input id="card-cvc"
                       type="text" maxlength="4" size="3"
                       placeholder="CVC" autocomplete="off"
                       v-model="cardCvc" />
              </div>
            </div>
          </div>
        </div>
      </div>{# /!haveCardData #}
    </fieldset>
    <fieldset id="card-billing-address"
             v-show="!haveCardData || updateCard"
            {% if last4 and not force_update %}style="display:none;"{% endif %}>
            {# XXX technically could be `!haveBillingAddress` #}
      <legend>Billing Address</legend>
      {{form.card_name}}
      {{form.card_address_line1}}
      {{form.card_city}}
      {{form.card_address_zip}}
      {{form.country}}
      {{form.region}}
    </fieldset>
  </div>
</div> <!-- #card-use -->
<div>
    <button type="submit" class="payment-submit">{% if submit_title %}{{submit_title}}{% else %}{% if force_update %}Update{% else %}Submit{% endif %}{% endif %}</button>
</div>
