<div id="card-use">
<fieldset>
      <legend>Credit Card Information{% if last4 and not force_update %}<a id="card-update" href="{{urls.organization.update_card}}">Update</a>{% endif %}</legend>
      {% if last4 %}
      <div>
            <dl>
                  <dt>card</dt>
                  <dd>{{last4}}</dd>
            </dl>
            <dl>
                  <dt>expires</dt>
                  <dd>{{exp_date}}</dd>
            </dl>
      </div>
      {% endif %}
      {% if not last4 or force_update %}
      <!-- BE CAREFULL: Do not add name="" to these <input> nodes, else
           values will hit the server and break PCI compliance. -->
      <div class="form-group">
            <label for="card-number">Card Number</label>
            <input id="card-number"
                   type="text" size="16" placeholder="Card number"
                   autocomplete="off" />
      </div>
      <div class="form-group">
            <label>Expiration</label>
            <input id="card-exp-month"
                   type="text" maxlength="2" size="2" placeholder="MM" />
            <input id="card-exp-year"
                   type="text" maxlength="4" size="4" placeholder="YYYY" />
      </div>
      <div class="form-group">
            <label>Security Code</label>
            <input id="card-cvc"
                   type="text" maxlength="4" size="3" placeholder="CVC"
                   autocomplete="off" />
      </div>
</fieldset>
<fieldset>
      <legend>Billing Address</legend>
      {{form.card_name}}
      {{form.card_address_line1}}
      {{form.card_city}}
      {{form.region}}
      {{form.card_address_zip}}
      {{form.country}}
{% endif %}
{##
  Previous endif before fieldset closing tag so the "Credit Card Information"
  fieldset is closed correctly both ways.
##}
</fieldset>
</div> <!-- #card-use -->
<div>
      <button type="submit" class="payment-submit">{% if submit_title %}{{submit_title}}{% else %}{% if force_update %}Update{% else %}Submit{% endif %}{% endif %}</button>
</div>
