<div>
    <div>
        <span>From</span>
        <input type="text" v-model="params.start_at"></input>
        <uiv-dropdown append-to-body menu-right>
          <button type="button">Calendar</button>
          <template slot="dropdown">
            <li>
              <uiv-date-picker
                 v-model="params.start_at"
                 icon-control-left="fa fa-caret-left"
                 icon-control-right="fa fa-caret-right" />
            </li>
          </template>
        </uiv-dropdown>
    </div>
    <div>
        <span>To</span>
        <input type="text" v-model="params.ends_at"></input>
        <uiv-dropdown append-to-body menu-right>
          <button type="button">Calendar</button>
          <template slot="dropdown">
            <li>
              <uiv-date-picker
                 v-model="params.ends_at"
                 icon-control-left="fa fa-caret-left"
                 icon-control-right="fa fa-caret-right" />
            </li>
          </template>
        </uiv-dropdown>
    </div>
    <div>
        <label>Filter</label>
        <input type="text" v-model="params.q" @input="filterList" />
    </div>
</div>
