<fieldset id="invoicables">
  <table>
    {% for entry in invoicables %}
    {% if entry.is_changed %}
    <tbody data-plan="{{entry.subscription.plan}}">
      <tr>
        <td colspan="3">
          <em>{{entry.subscription.plan.title}} from {{entry.subscription.plan.organization.printable_name}}</em>
        </td>
      </tr>
    {% endif %}
      {% for line in entry.lines %}
      <tr class="invoice-item">
        <td></td>
        <td>{{line.dest_price|humanize_money}}</td>
        <td>{{line.descr}}
        </td>
      </tr>
      {% endfor %}
      {% for line in entry.options %}
      <tr>
        <td><input type="radio" name="{{entry.name}}" value="{{line.dest_amount}}" {% if line.dest_amount == entry.selected_amount %}checked="1"{% endif %}></input></td>
        <td>{{line.dest_price|humanize_money}}</td>
        <td>{{line.descr}}
        </td>
      </tr>
      {% endfor %}
      {% if is_bulk_buyer %}
      <tr class="seat">
        <td colspan="3">
          <input class="seat-first-name" type="text" placeholder="First Name" />
          <input class="seat-last-name" type="text" placeholder="Last Name" />
          <input class="seat-email" type="text" placeholder="Email" />
          <button type="button" class="add-seat" type="button">Add</button>
        </td>
      </tr>
      {% endif %}
    {% if entry.is_changed %}
    </tbody>
    {% endif %}
    {% endfor %}
    <tfooter>
      <tr>
        <th></th>
        <th class="total-amount">{{lines_price|humanize_money}}</th>
        <th>Charged Today</th>
      </tr>
    </tfooter>
  </table>
</fieldset>
