{% load static from staticfiles %}

<script type="text/javascript" src="{% static 'js/djaodjin-saas-resources.js' %}"></script>
<script type="text/javascript" src="{% static 'js/djaodjin-saas.js' %}"></script>
<script type="text/javascript" src="{% static 'js/djaodjin-stripe.js' %}"></script>
<script type="text/javascript">
$(document).ready(function() {
    $("#redeem-form").redeem(
        {'saas_api_redeem_coupon': "{% url 'saas_api_redeem_coupon' %}" });
    $("#payment-form").find("#invoicables").invoice(
        { 'currency_unit': '{{lines_unit}}',
          'saas_api_cart': "{% url 'saas_api_cart' %}" });
{% if not last4 or update_mode %}
    $("#payment-form").card({stripePubKey: "{{STRIPE_PUB_KEY}}"});
    $("#bank-form").bank({stripePubKey: "{{STRIPE_PUB_KEY}}"});
{% endif %}
});
</script>
