{% load currency %}

<section id="balance">
  {% if invoicables %}
  <table>
    <tbody>
      {% for entry in invoicables %}
      <tr>
        <td colspan="3">
          {% if entry.options|length == 0 %}
          <strike>
          {% endif %}
            <em>{{entry.subscription.plan.get_title}}</em>
            from <em>{{entry.subscription.plan.organization}}</em>
          {% if entry.options|length == 0 %}
          </strike>
    &dash; <em>already subscribed until {{entry.subscription.ends_at}}</em>
          {% endif %}
        </td>
      </tr>
      {% for line in entry.lines %}
      <tr>
        <td></td>
        <td>{{line.dest_amount|usd}}</td>
        <td>{{line.descr}}
        </td>
      </tr>
      {% endfor %}
      {% for line in entry.options %}
      <tr>
        <td><input type="radio" name="plan-{{entry.subscription.plan.slug}}" value="{{line.dest_amount}}" {% if forloop.first %}checked="1"{% endif %}></input></td>
        <td>{{line.dest_amount|usd}}</td>
        <td>{{line.descr}}
        </td>
      </tr>
      {% endfor %}
      {% endfor %}
    </tbody>
    <tfooter>
      <tr>
        <th></th>
        <th id="total_amount"></th>
        <th>Charged Today</th>
      </tr>
    </tfooter>
  </table>
  {% endif %}
<script type="text/javascript">
$(document).ready(function() {
    $('input:radio').change(onSubscribeChargeChange);
    updateTotalAmount($("form"));
});
</script>
</section>
