{% extends "base.html" %}
{% load saas_tags %}
{% load static from staticfiles %}

{% block content %}
<div>
  <div>
    {% block sidebar %}
    {% if organization|is_current_provider %}
    {% comment %}
    We are dealing with the site owner.
    {% endcomment %}
    <div>
      <a id="saas_manager_list" href="{% url 'saas_role_list' organization 'managers' %}">managers</a>
      | <a id="saas_contributor_list" href="{% url 'saas_role_list' organization 'contributors' %}">contributors</a>
      | <a id="saas_coupon_list" href="{% url 'saas_coupon_list' organization %}">coupons</a>
      | <a id="saas_transfer_info" href="{% url 'saas_transfer_info' organization %}">funds</a>
      | <a id="saas_metrics_summary" href="{% url 'saas_metrics_summary' organization %}">revenue</a>
      | <a id="saas_metrics_plans" href="{% url 'saas_metrics_plans' organization %}">plans</a>
      | <a id="saas_subscriber_list" href="{% url 'saas_subscriber_list' organization %}">subscribers</a></li>
    </div>
    {% endif %}
    {% comment %}
    Subscriptions for the organization
    {% endcomment %}
    <div>
      <a id="saas_dashboard" href="{% url 'saas_dashboard' organization %}">Dashboard</a>
      | <a id="saas_provider_profile" href="{% url 'saas_organization_profile' organization %}">profile</a>
      | <a id="saas_billing_info" href="{% url 'saas_billing_info' organization %}">billing</a>
      | <a id="saas_subscription_list" href="{% url 'saas_subscription_list' organization %}">subscriptions</a>
    </div>
    {% endblock %}
  </div>
  <div>
    {% block saas_content %}{% endblock %}
  </div>
</div>
{% endblock %}

{% block bodyscripts %}
{{block.super}}
<script type="text/javascript" charset="utf-8" src="{% static 'vendor/js/moment.js' %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static 'js/djaodjin-saas.js'%}"></script>
<script type="text/javascript" charset="utf-8" src="{% static 'js/djaodjin-saas-resources.js'%}"></script>
<script type="text/javascript" charset="utf-8" src="{% static 'js/djaodjin-postal.js' %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static 'js/djaodjin-stripe.js'%}"></script>
<script type="text/javascript">
jQuery(document).ready(function($) {
{% if organization %}
    $("[data-plan]").plan({
        saas_api_plan: "{% url 'saas_api_plan_new' organization %}",
        saas_metrics_plans: "{% url 'saas_metrics_plans' organization %}"
    });

    $("#delete-organization-btn").profile({
        saas_api_organization: "{% url 'saas_api_organization' organization %}",
        saas_organization_profile: "{% url 'accounts_profile' %}"
    });

    $("#redeem-form").redeem(
        {'saas_api_redeem_coupon': "{% url 'saas_api_redeem_coupon' %}" });
    var cardForm = $("#payment-form");
    cardForm.find("#invoicables").invoice(
       {currency_unit: '{{lines_unit}}',
        saas_api_cart: "{% url 'saas_api_cart' %}" });
    cardForm.card({
        stripePubKey: "{{STRIPE_PUB_KEY}}",
        saas_api_card: "{% url 'saas_api_card' organization %}"
    });

    $("#bank-form").bank({stripePubKey: "{{STRIPE_PUB_KEY}}"});
{% endif %}
{% if charge %}
    $(".charge-refund").click(function () {
        var self = $(this);
        $("#charge-refund").refund({
            availableAmount: self.attr("data-available-amount"),
            linenum: self.attr("data-linenum"),
            saas_api_charge_refund: "{% url 'saas_api_charge_refund' charge %}",
            refundButton: self
        });
    });
    $("#email-charge-receipt").chargeEmailReceipt({
        initialState: "{{charge.get_state_display}}",
        saas_api_email_charge_receipt:
            "{% url 'saas_api_email_charge_receipt' charge %}"
    });

    $("#{{charge}}").chargeMonitor({
       initialState: "{{charge.get_state_display}}",
       saas_api_charge: "{% url 'saas_api_charge' charge %}"
    });
{% endif %}
});
</script>
{% endblock %}

