{% extends "base.html" %}

{% block localheader %}
{% if STRIPE_PUB_KEY %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
{% endif %}
{% endblock %}

{% block content %}
<div>
  <div>
    {% block sidebar %}
    {# Subscriptions for the organization #}
    <div>
      <a id="saas_provider_profile" href="{{urls.organization.profile}}">Profile</a>
      | <a id="saas_billing_info" href="{{urls.organization.billing}}">Billing</a>
      | <a id="saas_subscription_list" href="{{urls.organization.subscriptions}}">Subscriptions</a>
      {% if urls.organization.roles %}
      {% for role_title, role_url in urls.organization.roles|iteritems %}
      | <a href="{{role_url}}">{{role_title}}s</a>
      {% endfor %}
      {% endif %}
      {% if urls and urls.organization and urls.organization.role_description %}
      | <a id="saas_role_list" href="{{urls.organization.role_description}}">Roles</a>
      {% endif %}
    </div>
    {% if urls.provider %}
    <div>
      {# We are dealing with the site owner. #}
      <a id="saas_dashboard" href="{{urls.provider.dashboard}}">Dashboard</a>
      | <a id="saas_coupon_list" href="{{urls.provider.coupons}}">Coupons</a>
      | <a id="saas_transfer_info" href="{{urls.provider.transfers}}">Funds</a>
      | <a id="saas_metrics_summary" href="{{urls.provider.metrics_sales}}">Revenue</a>
      | <a id="saas_metrics_plans" href="{{urls.provider.metrics_plans}}">Plans</a>
      | <a id="saas_subscriber_list" href="{{urls.provider.subscribers}}">Subscribers</a></li>
      | <a id="saas_charges" href="{{urls.broker.charges}}">Charges</a>
    </div>
    {% endif %}
    {% endblock %}
  </div>
  <div>
    {% block saas_content %}{% endblock %}
  </div>
</div>
{% endblock %}

{% block bodyscripts %}
<script type="text/javascript" charset="utf-8" src="/static/vendor/moment.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/vendor/moment-timezone-with-data.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/js/djaodjin-resources.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/js/djaodjin-postal.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/js/djaodjin-saas.js"></script>
<script type="text/javascript">
jQuery(document).ready(function($) {
{% if urls and urls.provider %}
    $("[data-plan]").plan({
        saas_api_plan: "{{ urls.provider.api_plans }}",
        saas_metrics_plans: "{{ urls.provider.metrics_plans }}"
    });
{% endif %}
{% if urls and urls.api_redeem %}
    $("#redeem-form").redeem(
        {'saas_api_redeem_coupon': "{{ urls.api_redeem }}" });
{% endif %}
{% if charge %}
    $(".charge-refund").click(function () {
        var self = $(this);
        $("#charge-refund").refund({
            availableAmount: self.attr("data-available-amount"),
            linenum: self.attr("data-linenum"),
            saas_api_charge_refund: "{{ urls.charge.api_refund }}",
            refundButton: self
        });
    });
    $("#email-charge-receipt").chargeEmailReceipt({
        initialState: "{{charge.state_string}}",
        saas_api_email_charge_receipt:
            "{{ urls.charge.api_email_receipt }}"
    });

    $("#{{charge}}").chargeMonitor({
       initialState: "{{charge.state_string}}",
       saas_api_charge: "{{ urls.charge.api_base }}"
    });
{% endif %}
});
</script>
{% block saas_bodyscripts %}{% endblock %}
{% endblock %}

