{% extends "base.html" %}
{% load saas_tags %}

{% block content %}
<div>
  <div>
    {% block sidebar %}
    {% if organization|is_site_owner %}
    {% comment %}
    We are dealing with the site owner.
    {% endcomment %}
    <ul>
      <li><a id="saas_manager_list" href="{% url 'saas_manager_list' organization %}">managers</a></li>
      <li><a id="saas_coupon_list" href="{% url 'saas_coupon_list' organization %}">coupons</a></li>
      <li><a id="saas_transfer_info" href="{% url 'saas_transfer_info' organization %}">funds</a></li>
      <li><a id="saas_metrics_summary" href="{% url 'saas_metrics_summary' organization %}">revenue</a></li>
      <li><a id="saas_metrics_plans" href="{% url 'saas_metrics_plans' organization %}">plans</a></li>
      <li><a id="saas_subscriber_list" href="{% url 'saas_subscriber_list' organization %}">subscribers</a></li>
    </ul>
    <hr />
    {% endif %}
    {% comment %}
    Subscriptions for the organization
    {% endcomment %}
    <ul>
      <li><a id="saas_organization_profile" href="{% url 'saas_organization_profile' organization %}">profile</a></li>
      <li><a id="saas_billing_info" href="{% url 'saas_billing_info' organization %}">billing</a></li>
      <li><a id="saas_subscription_list" href="{% url 'saas_subscription_list' organization %}">subscriptions</a>
    </ul>
    {% endblock %}
  </div>
  <div>
    {% block saas_content %}{% endblock %}
  </div>
</div>
{% endblock %}
