{% extends "saas/base.html" %}
{% load static from staticfiles %}
{% load currency %}
{% load saas_tags %}

{% block saas_content %}
<section id="info">
  <h1>Credit Card</h1>
  <a href="{% url 'saas_update_card' organization %}">Update</a>
  <dl>
    <dt>card</dt>
    <dd id="last4">{% if last4 %}{{last4}}{% else %}N/A{% endif %}</dd>
  </dl>
  <dl>
    <dt>expires</dt>
    <dd id="exp_date">{% if exp_date %}{{exp_date}}{% else %}N/A{% endif %}</dd>
  </dl>
</section>
<section id="balance">
  <h1>Balance</h1>
  <dl>
    {% if balance_payable >= 0 %}
    <dt>{{balance_payable|humanize_balance}}</dt>
    <dd>Balance due {% if balance_payable > 0 %}(<a href="{% url 'saas_organization_balance' organization %}">pay now</a>){% endif %}</dd>
    {% else %}
    <dt>{{balance_payable|humanize_balance}}</dt>
    <dd>Balance Credits</dd>
    {% endif %}
  </dl>
</section>
{% include "saas/transaction_list.html" %}
</div>
{% endblock %}

{% block bodyscripts %}
<script type="text/javascript" src="{% static 'js/djaodjin-saas.js' %}"></script>
<script type="text/javascript" src="{% static 'js/djaodjin-stripe.js' %}"></script>
<script type="text/javascript">
/* XXX Temporarly disabled
{% if STRIPE_PUB_KEY %}
$(document).ready(function() {
    var thisCard = new Card({'saas_api_card':
        "{% url 'saas_api_card' organization %}"});
    thisCard.query();
});
{% endif %}
*/
</script>
{% endblock %}
