<section id="card">
  <h1>{{title}}</h1>
  <form method="post" id="payment-form" class="form-horizontal" action=".">
    {% if total_amount > 0 %}
    {% if last4 %}
    <a class="btn" href="{% url 'saas_update_card' organization %}">Update</a>
    <dl class="dl-horizontal">
      <dt>card</dt>
      <dd>{{last4}}</dd>
    </dl>
    <dl class="dl-horizontal">
      <dt>expires</dt>
      <dd>{{exp_date}}</dd>
    </dl>
    {% else %}
    {% include "saas/card_form_fields.html" %}
    {% endif %}
    {% endif %}
    <fieldset>
      {% if not last4 %}
      {% if total_amount %}
      <div id="remember_card" class="control-group">
        <label class="control-label">Remember this card</label>
        <div class="controls">
          <input id="remember_card" name="remember_card" type="checkbox" />
        </div>
      </div>
      {% endif %}
      {% endif %}
    </fieldset>
    {% csrf_token %}
    <button type="submit">{{title}}</button>
  </form>
</section>
