{% extends "saas/base.html" %}
{% load i18n %}
{% load assets %}

{% block localheader %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
{% endblock %}

{% block saas_content %}
<section id="update_card">
    <h1>Update Card for {{ organization }}</h1>
    <form method="post" id="payment-form"
          action=".{% if next %}/?next={{ next }}{% endif %}">
        {% csrf_token %}
        {% include "saas/card_use.html" with title="Update" update_mode=True %}
    </form>
</section>
{% endblock %}
