{% extends "saas/card_base.html" %}
{% load currency %}

{% block content %}
<h1>{% block order_title %}Place Order ...{% endblock %}</h1>
{% block order_head %}
<div>
    <form method="post" id="redeem-form">
        {% csrf_token %}
        <div>
            <label>
If you have a coupon code, it is time to redeem it now!
            </label>
            <div>
                {% comment %}{{coupon_form.code}}{% endcomment %}
                <input id="id_code" name="code" type="text" placeholder="Coupon code">
                <button type="submit" class="btn btn-primary">Redeem</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
<div>
    <form method="post" id="payment-form" action=".{% if next %}/?next={{ next }}{% endif %}">
        {% csrf_token %}
        {% if invoicables %}
        {% include "saas/balance.html" %}
        {% else %}
        Your subscription cart is empty.
        {% endif %}
        {% block order_card %}{% endblock %}
    </form>
</div>
{% endblock %}

{% block saas_bodyscripts %}
<script type="text/javascript">
$(document).ready(function() {
    $("#redeem-form").redeem(
        {'saas_api_redeem_coupon': "{% url 'saas_api_redeem_coupon' %}" });
    $("#payment-form").invoice(
        { 'currency_unit': '{{lines_unit}}',
          'saas_api_cart': "{% url 'saas_api_cart' %}" });
});
</script>
{% block order_bodyscripts %}{% endblock %}
{% endblock %}
