{% extends "saas/base.html" %}

{% block saas_content %}
{% include "saas/organization_users.html" with title="manager" %}
{% endblock %}

{% block saas_bodyscripts %}
<script>
/* Implementation Note: Not including a list of dependent modules
   (2nd parameter to `module`) "re-opens" the module for additional
   configuration. */
var app = angular.module('managerApp');
/* Add the CSRF Token: */
app.config(['$interpolateProvider', '$httpProvider',
           function($interpolateProvider, $httpProvider) {
    $httpProvider.defaults.headers.common['X-CSRFToken'] = '{{ csrf_token|escapejs }}';
    /* Makes it easier to separate between django and angularjs templates */
    $interpolateProvider.startSymbol('[[');
    $interpolateProvider.endSymbol(']]');
}]);
app.constant('urls', {
    saas_api_manager_url: "{% url 'saas_api_manager_list' organization %}",
});
</script>
{% endblock %}
