{% extends "saas/base.html" %}
{% load currency %}
{% load saas_tags %}

{% block saas_content %}
<div>
<a target="_blank" href="{% url 'saas_balances_download' %}">CSV Download</a>
</div>
<section id="metrics_table" ng-app="metricApp">
<style>
.chart-area {
  height: 400px;
  width: 100%;
  min-width: 960px;
}
</style>
<div ng-controller="metricCtrl">
    <svg class="chart-area">
    </svg>
    <div>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th ng-repeat="cell in balances.0.values" ng-hide="$first">
                        [[cell.0 | date : mediumDate]]
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in balances|orderBy:'key'" ng-cloak>
                    <th>[[row.key]]</th>
                    <td ng-repeat="cell in row.values" ng-hide="$first">
                        [[cell.1]]
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div>
    <ul class="list-unstyled">
        <li><em>Revenue</em>: service was delivered in the period.</li>
        <li><em>Billings</em>: invoice was generated in the period.</li>
        <li><em>Backlog</em>: invoice was paid in the period but service has not yet been delivered.</li>
    </ul>
</div>
</section>
{% endblock %}

{% block saas_bodyscripts %}
<script type="text/javascript">
/* Implementation Note: Not including a list of dependent modules
   (2nd parameter to `module`) "re-opens" the module for additional
   configuration. */
var app = angular.module('metricApp');
/* Add the CSRF Token: */
app.config(['$interpolateProvider', '$httpProvider',
           function($interpolateProvider, $httpProvider) {
    $httpProvider.defaults.headers.common['X-CSRFToken']
        = '{{ csrf_token|escapejs }}';
    /* Makes it easier to separate between django and angularjs templates */
    $interpolateProvider.startSymbol('[[');
    $interpolateProvider.endSymbol(']]');
}]);
app.constant('urls', {
    saas_api_metrics_balance: "{% url 'saas_api_balances' %}"
});

$(document).ready(function(){
    $('svg').revenue({
        saas_api_metrics_balances: "{% url 'saas_api_balances' %}"});
});
</script>
{% endblock %}
