{% extends "saas/base.html" %}
{% load metrics %}

{% block saas_content %}
<section id="metrics_table">
  <h1>{{title}} for {{organization}}</h1>
  <table>
    <thead>
      <tr>
        <th></th>
        {% for entry in table.0.values %}
        <th {% if entry.0|is_incomplete_month %}title="ends {{entry.0}}"{% endif %}>{{entry.0|monthly_caption}}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in table %}
      <tr>
        <th>{{row.key}}</th>
          {% for values in row.values %}
          <td align="right">{{values.1}}</td>
          {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
{% endblock %}

