<section id="{{title}}" ng-app="{{title}}App">
  <h1>{{title}}</h1>
  <div ng-controller="{{title}}ListCtrl">
    <form>
      <input type="text" ng-model="user.username" placeholder="Username or Email" />
      <input type="submit" ng-click="save()" />
    </form>
    <table>
      <thead>
        <tr>
          <th>Username</th>
          <th>Email</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in users" ng-cloak>
          <td>[[user.username]]</td>
          <td>[[user.email]]</td>
          <td><button ng-click="remove($index)">Remove</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

