{% extends "saas/base.html" %}
{% load currency %}

{% block saas_content %}
<section id="paynow">
  <h1>Pay Balance for {{ organization.full_name }}</h1>
  <p>
    {% if balance_credits %}
    You already have a credit of {{balance_credits|usd}}
    in your account. Are you sure you want to pay more now?
    {% else %}
    Your balance due is {{balance_dues|usd}}.
    {% endif %}
  </p>
  <form method="post" id="payment-form" class="form-horizontal"
        action="{% url 'saas_pay_now' organization %}">
    {{ form.as_ul }}
    <button type="submit" class="btn btn-primary payment-submit">Pay Now</button>
    {% csrf_token %}
  </form>
</section>
{% endblock %}
