{% extends "saas/card_base.html" %}
{% load currency %}

{% block content %}
{% include "saas/balance.html" %}

{% if total_amount and coupon_form %}
<section id="coupon">
  <h1>Coupon</h1>
  <form method="post" id="redeem-form" class="form-horizontal"
        action="{% url 'saas_redeem_coupon' organization %}">
    {{ coupon_form.non_field_errors }}
    {% csrf_token %}
    {{coupon_form.as_table}}
    <button type="submit" class="btn btn-primary payment-submit">Redeem</button>
  </form>
</section>
{% endif %}

{% include "saas/card_use.html" with title="Place Order" %}

{% endblock %}
