{% extends "base.html" %}

{% block content %}
<section>
    <form method="post" action=".">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
        {% if plan_list %}
        {% for plan in plan_list %}
        <div id="{{plan.slug}}" class="plan-short">
            {% if plan.created_at|date_in_future %}
            <p>Avalaible soon!</p>
            {% endif %}
            <h2>{{plan.title}}</h2>
            {% if plan.period_price.amount > 0 %}
            <p>
            {{plan.period_price|humanize_money}} {{plan.interval|humanize_period}}
            </p>
            {% endif %}
            {% if plan.setup_amount > 0 %}
            one-time: {{plan.setup_price|humanize_money}}
            {% endif %}
            {% if plan.transaction_fee > 0 %}
            <p>
                (+Stripe per transaction costs)
            </p>
            {% endif %}
            <div>
                <p>
                {{plan.description}}
                </p>
            </div>
            <button type="submit" name="submit" value="{{plan.slug}}">Subscribe</button>
        </div>
        {% endfor %}
        {% else %}
        <em>No Plans yet</em>
        {% endif %}
    </form>
</section>
{% endblock %}
