{% extends "saas/base.html" %}

{% block saas_content %}
  <table>
    <thead>
      <tr>
        <th>Subscribed to</th>
        <th>Until</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for subscription in object_list %}
      <tr>
        <td>
          {{ subscription.plan.organization}}'s {{subscription.plan.slug}}
        </td>
        <td>{{subscription.ends_at}}</td>
        <td>
          {% if subscription.is_locked %}<a href="{% url 'saas_organization_balance' subscription.organization subscription %}">Unlock</a>{% endif %}
        </td>
        <td>
          <!-- XXX Cancel Subscription -->
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="3">
          <em>No Subscriptions</em>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
