{% extends "saas/base.html" %}
{% load currency %}
{% load saas_tags %}
{% load static from staticfiles %}

{% block saas_content %}
<style>
.hidden{
display:none;
}
</style>
<div>
  <h1>Charge Receipt</h1>
  <section id="status">
    {% comment %}
        The following paragraphs are specially crafted such that only
        one appears at any one time and ``waitForChargeCompleted``
        can easily toggle between them.
    {% endcomment %}
    <p class="done {% if not charge.is_paid %}hidden{% endif %}">
      On {{charge.created_at}}, the credit card has been charged for an amount
      of {{charge.amount|humanize_money:charge.unit}}. Payment Information:
    </p>
    <p class="failed {% if not charge.is_failed %}hidden{% endif %}">
    On {{charge.created_at}}, we attempted to charge your card for
    {{charge.amount|humanize_money:charge.unit}}. The charge failed.
    </p>
    <p class="disputed {% if not charge.is_disputed %}hidden{% endif %}">
    On {{charge.created_at}}, we attempted to charge your card for
    {{charge.amount|humanize_money:charge.unit}}. The charge was disputed.
    </p>
    <p class="created {% if not charge.is_progress %}hidden{% endif %}">
    On {{charge.created_at}}, we attempted to charge your card for
    {{charge.amount|humanize_money:charge.unit}}. The charge is in progres...
    </p>
  </section>
  <section id="info">
    <dl>
      <dt>REFERENCE</dt>
      <dd>#{{ charge.processor_id }}</dd>
    </dl>
    <dl>
      <dt>amount</dt>
      <dd>{{charge.amount|humanize_money:charge.unit}}</dd>
    </dl>
    <dl>
      <dt>card</dt>
      <dd>**** - {{charge.last4}}</dd>
    </dl>
    <dl>
      <dt>expires</dt>
      <dd>{{charge.exp_date}}</dd>
    </dl>
  </section>
  <section id="invoiced_items">
    <table>
      <thead>
        <tr>
          <th>Amount</th>
          <th>Description</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for line in charge_items %}
        <tr>
          <td>{{line.invoiced.dest_amount|humanize_money:line.invoiced.dest_unit}}</td>
          <td>{{line.invoiced|describe}}</td>
          <td>
            {% if line.refunded %}
            <em>Refunded</em>
            {% else %}
            {% if line.invoiced|refund_enable:user %}
            <button class="charge-refund"
                    data-toggle="modal" data-target="#charge-refund"
                    data-linenum="{{forloop.counter0}}">Refund</button>
            {% endif %}
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
</div>
  {% if next_url %}
  <div>
    <a href="{{next_url}}">Next &gt;</a>
  </div>
  {% endif %}
</div>
<!-- modal dialog for Refunds -->
<div class="modal fade"
     id="charge-refund" tabindex="-1" role="dialog"
     aria-labelledby="Refund" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Refund</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="controls">
                        <input class="form-control form-control"
                               name="amount" maxlength="32" type="text"
                               value="0" />
                    </div>
                </div>
                <div>
                    <p>
Please specify the amount you would like refunded.
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">Cancel</button>
                <button type="button" class="submit-refund btn btn-primary"
                        data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<!-- end of modal dialog for Refunds -->
{% endblock %}

{% block bodyscripts %}
<script type="text/javascript" src="{% static 'js/djaodjin-saas.js' %}"></script>
<script type="text/javascript" src="{% static 'js/djaodjin-stripe.js' %}"></script>
<script type="text/javascript">
var urls = {
    'saas_api_charge':
        "{% url 'saas_api_charge' charge %}",
    'saas_api_charge_refund':
        "{% url 'saas_api_charge_refund' charge %}",
}
$(document).ready(function() {
    var thisCharge = new Charge("{{charge.processor_id}}", urls);
    $(".charge-refund").click(function () {
        var self = $(this);
        var availableAmount = self.attr("data-available-amount");
        var refundedInput = $("#charge-refund [name='amount']");
        refundedInput.attr("max", availableAmount);
        refundedInput.attr("data-linenum", self.attr("data-linenum"));
        refundedInput.val(availableAmount);
    });
    $("#charge-refund .submit-refund").click(function () {
        var refundedInput = $("#charge-refund [name='amount']");
        var availableAmount = refundedInput.attr("max");
        var linenum = refundedInput.attr("data-linenum");
        var refundedAmount = refundedInput.val();
        if( refundedAmount > availableAmount ) {
            refundedAmount = availableAmount;
        }
        if( refundedAmount > 0 ) {
            thisCharge.refund(linenum, refundedAmount,
                // refundButton
                $('.charge-refund[data-linenum="' + linenum + '"]'));
        }
    });

{% if charge.is_progress %}
    thisCharge.waitForCompletion();
{% endif %}
});
</script>
{% endblock %}
