Django==2.2.24
django-countries==5.5
django-localflavor==2.2
djangorestframework==3.9.4
# We need Python Markdown for django.contrib.markup. markdown2 is not enough.
Markdown==3.1.1
phonenumbers==8.12.6
python-dateutil==2.8.1
razorpay==0.2.0
stripe==2.55.1

# testsite-only
coverage==4.0.3
django-debug-toolbar==1.11.1 # This version works with Py2, Django>=1.11 (incl. 2.2)
django-extensions==2.2.5
djaodjin-rules==0.2.7
gunicorn==19.7.1
whitenoise==4.1.2

# development
Sphinx==1.8.5 # This version works with Py2
sphinxcontrib-httpdomain==1.7.0
