{% extends "saas/base_dashboard.html" %}

{% block saas_content %}
<form method="post" action=".">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
    {{ form|as_html }}
    <div>
        <input type="submit" name="submit" value="Update Profile">
    </div>
</form>
<div ng-app="saasApp">
  <div id="delete-action" ng-controller="organizationProfileCtrl">
    <button id="delete-action-open">Delete</button>
    <button type="button" id="delete-organization-btn" ng-click="deleteProfile($event)">Delete</button>
  </div>
</div>
{% endblock %}
