{% extends "saas/base.html" %}

{% block saas_content %}
<div>
    {% if form.instance %}
    <div>
        <button id="activate-plan" class="activate {% if form.instance.is_active %}active-plan{% endif %}">{% if form.instance.is_active %}Deactivate{% else %}Activate{% endif %}</button>
    </div>
    {% endif %}
    {% if show_delete %}
    <div>
        <button id="delete-plan" class="delete">Delete</button>
    </div>
    {% endif %}
</div>
<form method="post" action=".">
    {% csrf_token %}
    {{ form }}
    <input type="submit" name="submit" value="Submit">
</form>
{% endblock %}

{% block bodyscripts %}
<script type="text/javascript">
$(document).ready(function(){
    $(".activate").click(function(event) {
        var self = $(this);
        event.preventDefault();
        toggleActivatePlan(self,
            {'saas_api_plan': "{% url 'saas_api_plan_new' organization %}" });
    });
    $(".delete").click(function(event) {
        var self = $(this);
        event.preventDefault();
        var plan = new Plan(self.attr("data-plan"),
            {'saas_api_plan': "{% url 'saas_api_plan_new' organization %}" });
        plan.destroy(function() {
            window.location.href = "{% url 'saas_metrics_plans' organization %}" ;
        });
    });
});
</script>
{% endblock %}
