{% extends "saas/base_dashboard.html" %}

{% block saas_title %}Roles{% endblock %}

{% block saas_content %}
<section id="roles" ng-app="saasApp">
  <div ng-controller="userRoleDescriptionCtrl"
       saas-organization="{{organization.slug}}">
    <h2 ng-hide="items.$resolved">Please wait...</h2>

    <div ng-show="items.$resolved">
      <div ng-repeat="roleDescription in items.results">
        <h3>[[roleDescription.name]]</h3>
        <button type="button" ng-show="!roleDescription.is_global"
                ng-click="deleteRoleDescription(roleDescription)">Delete</button>
        <ul>
          <li ng-show="roleDescription.roles.length == 0">
            No users assigned to this role
          </li>
          <li ng-repeat="role in roleDescription.roles">
            [[role.user.full_name]] ([[role.user.email]])
            <button ng-click="deleteRole(roleDescription, role)"
                    type="button">Delete</button>
          </li>
        </ul>
        <button ng-click="addRole(roleDescription)"
                type="button">Add user</button>
      </div>

      <button ng-click="addRoleDescription()"
              type="button">Add role</button>
    </div>

    <div id="new-role-description">
      <form ng-submit="createRoleDescription()">
        <label>Role name:</label>
        <input name="name" type="text" ng-model="newRoleDescription.name"
               placeholder="e.g. Sales manager" />

        <button type="submit">Create role</button>
      </form>
    </div>

    <div id="new-role">
      <form ng-submit="createRole()">
        <p>You are about to assign a user to the
           role <em>[[selectedRoleDescription.name]]</em></p>

        <label>Username or E-mail address:</label>
        <input name="slug" type="text" ng-model="newRole.slug"
               placeholder="info@example.com" />

        <button type="submit">Add user</button>
      </form>
    </div>
  </div>
</section>
{% endblock %}

{% block dashboard_bodyscripts %}
<script type="text/javascript">
jQuery(document).ready(function($) {
  $("#new-role-description").on('shown.bs.modal', function () {
    $("#new-role-description [name='name']").focus();
  });

  $("#new-role").on('shown.bs.modal', function () {
    $("#new-role [name='slug']").focus();
  });
});
</script>
{% endblock %}
