{% extends "saas/base_dashboard.html" %}

{% block saas_content %}
<section id="subscribers-list-container">
  <div>
    {% if registered %}
    <div id="registered-tab-container">
      <a name="registered" href="#registered"><h2>Registered</h2></a>
      {% include "saas/_filter.html" %}
      <div>
        <a id="download-registered" role="button"
           :href="'{{registered.urls.download}}' + getQueryString(['page'])">CSV Download</a>
      </div>
      <div>
        <table>
          <thead>
            <tr>
              <th>Full name</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-show="!itemsLoaded">
              <td colspan="2">
                <h3>Loading ...</h3>
              </td>
            </tr>
            <tr v-show="itemsLoaded && items.results.count == 0" v-cloak>
              <td colspan="2">
                <h4><em>No registered users<span v-show="params.q"> [[params.q]]</span></em></h4>
              </td>
            </tr>
          </tbody>
          <tbody class="has-results" v-show="itemsLoaded && items.results.length > 0" v-cloak>
            <tr v-for="entry in items.results">
              <td>
                <a :href="'{{urls.profile_redirect}}' + entry.slug + '/'">[[entry.full_name]]</a>
              </td>
              <td>
                [[entry.created_at | relativeDate]]
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div v-show="itemsLoaded && totalItems > itemsPerPage" v-cloak>
        <uiv-pagination
           v-model="params.page"
           :total-page="pageCount"
           @change="get"
           boundary-links />
      </div>
    </div>
    {% endif %}
    <div id="plans-tab-container">
        <h2>Revenue</h2>
        <table>
          <tr>
            <td></td>
            <td v-for="col in planTableDates">[[col[0] | monthHeading]]</td>
          </tr>
          <tr :id="row.key" v-for="row in plansData.data" :key="row.key">
            <td v-if="row.location">
                <a :href="row.location">[[row.title ? row.title : row.key]]</a>
            </td>
            <td v-if="!row.location">[[row.title ? row.title : row.key]]</td>
            <td v-for="col in row.values" :key="col[0].toISOString()" :title="humanizeCell(col[1], plansData.unit, plansData.scale, false)">[[humanizeCell(col[1], plansData.unit, plansData.scale)]]</td>
          </tr>
        </table>
    </div>
    {% for tab in tabs %}
    <div id="{{tab.slug}}-tab-container">
      <a name="{{tab.slug}}" href="#{{tab.slug}}"><h2>{{tab.title}}</h2></a>
      {% include "saas/_filter.html" %}
      <div>
        <a id="download-{{tab.slug}}" role="button" :href="'{{tab.urls.download}}' + getQueryString(['page'])">CSV Download</a>
      </div>
      <div>
        <table>
          <thead>
            <tr>
              <th>Subscriber<button @click="sortBy('organization')">[[params.o === 'organization' ? params.ot : 'sort']]</button></th>
              <th>Plan<button @click="sortBy('plan')">[[params.o === 'plan' ? params.ot : 'sort']]</button></th>
              <th>Since<button @click="sortBy('created_at')">[[params.o === 'created_at' ? params.ot : 'sort']]</button></th>
              <th>Ends At<button @click="sortBy('ends_at')">[[params.o === 'ends_at' ? params.ot : 'sort']]</button></th>
            </tr>
          </thead>
          <tbody v-show="!itemsLoaded">
            <tr>
              <td colspan="5">
                <h4>Loading ...</h4>
              </td>
            </tr>
          </tbody>
          <tbody class="has-no-results" v-show="itemsLoaded && items.results.length == 0" v-cloak>
            <tr>
              <td colspan="5">
                <h4>No subscribers<span v-show="params.q"> with filter: '[[params.q]]'</span></h4>
              </td>
            </tr>
          </tbody>
          <tbody class="has-results" v-show="itemsLoaded && items.results.length > 0" v-cloak>
            <tr v-for="entry in items.results" :class="endsSoon(entry)">
              <td>
                <a :id="entry.organization.slug"
                   :href="'{{urls.organization.profile_base}}' + entry.organization.slug + '/subscriptions/'"
                   >[[entry.organization.printable_name]]</a>
              </td>
              <td>[[entry.plan.title]]</td>
              <td>[[entry.created_at | formatDate]]</td>
              <td>[[entry.ends_at | formatDate]]</td>
              <td class="description editable">
                <span v-show="!entry.edit_description" @click="editDescription(entry, entry.plan.slug)">
                    descr: [[entry.description]]</i>
                </span>
                <input type="text"
                       @blur="saveDescription(entry)"
                       @keyup.13="saveDescription(entry)"
                       v-model="entry.description"
                       :ref="refId(entry, entry.plan.slug)"
                       v-show="entry.edit_description">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div v-show="itemsLoaded && totalItems > itemsPerPage">
        <uiv-pagination
           v-model="params.page"
           :total-page="pageCount"
           @change="get"
           boundary-links />
      </div>
    </div>
    {% endfor %}
  </div>
  <div>
    <a id="new-subscriber" href="{{urls.organization_create}}">New Billing Profile</a>
  </div>
</section>
{% endblock %}
