{% extends "saas/base_dashboard.html" %}

{% block saas_content %}
<section id="subscribers" ng-app="saasApp" ng-cloak>
  <div ng-controller="subscriberListCtrl" ng-init="prefetch()">
    <div id="registered-users">
      <a href="#registered-users"><h2>Registered</h2></a>
      <div>
        <label>Filter</label> <input type="text" ng-model="filterExpr" ng-change="filterList(filterExpr)" />
        <a id="download-registered" href="{{registered.urls.download}}?q=[[filterExpr]]">CSV Download</a>
      </div>
      <table>
        <thead>
          <tr>
            <th>Full name</th>
            <th></th>
          </tr>
        </thead>
        <tbody ng-hide="registered.$resolved">
          <tr>
            <td colspan="2">
              <h4>Loading ...</h4>
            </td>
          </tr>
        </tbody>
        <tbody ng-show="registered.$resolved && registered.count == 0">
          <tr>
            <td colspan="2">
              <h4>No registered users<span ng-show="filterExpr">with filter '[[filterExpr]]'</span></h4>
            </td>
          </tr>
        </tbody>
        <tbody class="has-results" ng-repeat="entry in registered.results" ng-cloak ng-show="registered.$resolved && registered.results.length > 0">
          <tr>
            <td>
              [[entry.first_name]] [[entry.last_name]]
            </td>
            <td>
              [[relativeDate(entry.created_at)]]
            </td>
          </tr>
        </tbody>
      </table>
      <div>
        <uib-pagination ng-model="currentPage"
                    total-items="registered.count"
                    items-per-page="itemsPerPage"
                    boundary-links="true"
                    max-size="maxSize"
                    previous-text="&lsaquo;"
                    next-text="&rsaquo;"
                    first-text="&laquo;"
                    last-text="&raquo;"
                    ng-change="pageChanged(registered)"
                    ng-show="registered.$resolved && registered.results.length > 0"></uib-pagination>
      </div>
    </div>
    {% for tab in tabs %}
    <div id="{{tab.slug}}">
      <a href="#{{tab.slug}}"><h2>{{tab.title}}</h2></a>
      <div>
        <label>Filter</label> <input type="text" ng-model="filterExpr" ng-change="filterList(filterExpr)" />
        <a id="download-{{tab.slug}}" href="{{ tab.urls.download }}?q=[[filterExpr]]">CSV Download</a>
      </div>
      <table>
        <thead>
          <tr>
            <th>Subscriber<button ng-click="sortBy('organization')"></button></th>
            <th>Plan<button ng-click="sortBy('plan')"></button></th>
            <th>Since<button ng-click="sortBy('created_at')"></button></th>
            <th>Ends At<button ng-click="sortBy('ends_at')"></button></th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody ng-hide="{{tab.slug}}.$resolved">
          <tr>
            <td colspan="5">
              <h4>Loading ...</h4>
            </td>
          </tr>
        </tbody>
        <tbody class="has-no-results" ng-show="{{tab.slug}}.$resolved && {{tab.slug}}.results.length == 0">
          <tr>
            <td colspan="5">
              <h4>No subscribers<span ng-show="filterExpr"> with filter: '[[filterExpr]]'</span></h4>
            </td>
          </tr>
        </tbody>
        <tbody class="has-results" ng-repeat="entry in {{tab.slug}}.results" ng-show="{{tab.slug}}.$resolved && {{tab.slug}}.results.length > 0">
          <tr ng-class="endsSoon(entry)">
            <td>
              <a id="[[entry.organization.slug]]" href="{{urls.organization.profile_base}}[[entry.organization.slug]]/subscriptions/">[[entry.organization.printable_name]]</a>
            </td>
            <td>[[entry.plan.title]]</td>
            <td>[[entry.created_at | date: mediumDate]]</td>
            <td>[[entry.ends_at |date: mediumDate]]</td>
            <td id="[[entry.id]]">
              <span ng-hide="entry.editDescription"
                    ng-click="editDescription($event, entry)">[[entry.description]]
                <input ng-show="entry.editDescription" type="text"
                       ng-blur="saveDescription($event, entry)"
                       ng-model="entry.description"
                       tooltip="Edit description here"
                       tooltip-trigger="focus"
                       tooltip-placement="top">
            </td>
          </tr>
        </tbody>
      </table>
      <div>
        <pagination ng-model="currentPage"
                    total-items="{{tab.slug}}.count"
                    items-per-page="itemsPerPage"
                    boundary-links="true"
                    max-size="maxSize"
                    previous-text="&lsaquo;"
                    next-text="&rsaquo;"
                    first-text="&laquo;"
                    last-text="&raquo;"
                    ng-change="pageChanged({{tab.slug}})"
                    ng-show="{{tab.slug}}.$resolved && {{tab.slug}}.results.length > 0"></pagination>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}
